<section class="footer-section">
    <div class="footer-area">
        <div class="container">
            <div class="row py-5">
                <div class="col-md-3">
                    <div class="about-short">
                        <h4>About Us</h4>
                        <p>SEARCH consists of fifteen Eminent Homoeopathic Doctors with their ocean of experience.
                        </p>
                    </div>

                    <div class="social">
                        <a href=""> <i class="fab fa-facebook"></i></a>
                        <a href=""> <i class="fab fa-instagram"></i></a>
                        <a href=""> <i class="fab fa-twitter"></i></a>
                        <a href=""> <i class="fab fa-youtube"></i></a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="links">
                        <h4>Links</h4>
                        <a href="index.html">
                            <p>Home</p>
                        </a>
                        <a href="about-us.html">
                            <p>About Us</p>
                        </a>
                        <a href="doctor.html">
                            <p>Doctor</p>
                        </a>
                        <a href="cancer.html">
                            <p>Treatments</p>
                        </a>
                        <a href="brain.html">
                            <p>Health Problems</p>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="pages">
                        <h4>Pages</h4>
                        <a href="cancer.html">
                            <p>Cancer</p>
                        </a>
                        <a href="asthma.html">
                            <p>Asthma</p>
                        </a>
                        <a href="breast.html">
                            <p>Breast</p>
                        </a>
                        <a href="psoriasis.html">
                            <p>Psoriasis</p>
                        </a>
                        <a href="male-infertility.html">
                            <p>Male Infertility</p>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="video">
                        <h4>Video</h4>
                        <iframe width="300" height="180" src="https://www.youtube.com/embed/mQ0W645fX80" frameborder="0"
                            allowfullscreen="">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="copyrights">
    0 <p class="text-center">Copyright Aimcure. 2022. All Right Reserved | design by <a
            href="https://www.clinchsoft.com/" style="color: white;" target="_blank">clinchsoft</a></p>
</footer>