<section class="doctor-section">
  <div class="doctor-area">
    <div class="doctor-container">
      <div class="doctor-row">
        <div class="doctor-img-col">
          <div class="doc-img">
            <img src="images/Dr.ISaran.jpg" alt="Dr. I Saran" class="doc-image">
          </div>
        </div>

        <div class="doctor-info-col">
          <div class="doc-info">
            <h1>Dr. I Saran</h1>
            <p class="doc-address">Kokar, Ranchi – 834001, Jharkhand, India.</p>
            <p><span class="label">Specialization:</span> Restorative and Sustained Relief for Chronic and Recurring Conditions.</p>
            <p><span class="label">Experience:</span> 40+ years of Experience.</p>
            <p><span class="label">Degrees:</span> D.H.M.S(Homoeopathy)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
