<div class="homepage">


  <section class="treatments-section">
    <div class="container">
      <h1 class="section-title">Treatments</h1>
      <div class="card-grid">
        <div class="card">
          <img class="card-img" src="images/cancer.jpg" alt="Cancer">
          <div class="card-content">
            <h5 class="card-title">Cancer</h5>
            <p class="card-text">Homeopathy is based on the theory of 'like cures like'. It can help manage cancer
              symptoms with fewer side effects.</p>
            <a href="cancer.html" class="card-link">Read More <i class="fas fa-angle-right"></i></a>
          </div>
        </div>
        <!-- Repeat similar card elements for each treatment -->
      </div>
    </div>
  </section>


  <section class="careing-section">
    <div class="careing-area">
      <div class="container py-5">

        <div class="care-info  text-center">
          <h6>We help, we cure patients with briliannt way</h6>
          <p>LET US HELP YOU, TO LOCATE YOUR HEALTH PROBLEM HERE</p>
          <a href="" class="btn btn-outline-primary">Call Now</a>
        </div>
      </div>
    </div>
  </section>
</div>